@model IEnumerable<Fintech.Models.UsuarioModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuário</title>
</head>
<body>
    <h1>Usuário</h1>
    <p>
        <a asp-controller="Usuario" asp-action="Cadastrar">Novo Usuário</a>
    </p>

    @if (@TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensagem"]
        </div>
    }


    <table class="table" border="1">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Nome do Usuário</th>
            <th>Email</th>
            <th>Celular</th>
            

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.Cd_usuario</label>
                </td>
                <td>
                    <label>@item.Ds_login</label>
                </td>
                <td>
                    <label>@item.Ds_senha</label>
                </td>
                <td>
                    <label>@item.Nm_usuario</label>
                </td>
                <td>
                    <label>@item.Ds_email</label>
                </td>
                <td>
                    <label>@item.Nr_celular</label>
                </td>
                <td>

                    <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                    <a asp-controller="Usuario"
                       asp-action="Editar"
                       asp-route-id="@item.Cd_usuario">Editar</a>

                    <a asp-controller="Usuario"
                       asp-action="Consultar"
                       asp-route-id="@item.Cd_usuario">Consultar</a>

                    <a asp-controller="Usuario"
                       asp-action="Excluir"
                       asp-route-id="@item.Cd_usuario">Excluir</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
